nav{
     background-color: darkblue;
     padding: 10px;
}

nav a{
    color: white;
    padding: 20px;
    display: block;
}

h1   {
    color: steelblue;    
}

 main img{
     margin: 0 auto;
     max-width: 100%;
}

p{
    padding:0;
}


aside{
    width: 20cm;
    margin: 1cm;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1cm;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}


footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}